<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC20H7G3Fucf2v7njLXPQIfu8Es9_UbO58</string>
	<key>GCM_SENDER_ID</key>
	<string>618243328840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.anesthesiacalculation</string>
	<key>PROJECT_ID</key>
	<string>anesthesia-calculations</string>
	<key>STORAGE_BUCKET</key>
	<string>anesthesia-calculations.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:618243328840:ios:f1ee345e2226604b12017d</string>
	<key>DATABASE_URL</key>
	<string>https://anesthesia-calculations-default-rtdb.firebaseio.com</string>
</dict>
</plist>
